[MASTER]
# Specify a configuration file.
# This is a minimal configuration, so we won't specify any additional files.
ignore=./flappy_bird_gymnasium/tests/framestack.py,
./flappy_bird_gymnasium/tests/dueling_v2.py,
./flappy_bird_gymnasium/tests/__init__.py,
./flappy_bird_gymnasium/tests/test_dqn.py,
./flappy_bird_gymnasium/tests/dueling.py,
./flappy_bird_gymnasium/tests/test_human.py,
./flappy_bird_gymnasium/tests/test_random.py,
./flappy_bird_gymnasium/__init__.py,
./flappy_bird_gymnasium/cli.py,
./flappy_bird_gymnasium/envs/constants.py,
./flappy_bird_gymnasium/envs/__init__.py,
./flappy_bird_gymnasium/envs/utils.py,
./flappy_bird_gymnasium/envs/lidar.py,
./flappy_bird_gymnasium/envs/flappy_bird_env.py,

[MESSAGES CONTROL]
# Disable the message categories you don't want to see.

[FORMAT]
# Set the maximum line length.
max-line-length=100